@darkblue: #283044;
@blue: #78A1BB;
@lightblue: #EBF5EE;
@font1: 'Open Sans', sans-serif;
@font-for-price: 'Fira Sans', sans-serif;
body{
  margin: 0px;
  background: @lightblue;
  font-family: @font1;
}
header {
  display: flex;
  .icon {
    .logo {
      margin-left: 6%;
      width: 350px;
      height: 80px;
    }
    .logo-mob{
      display: none;
    }
  }
  background: @darkblue;
  height: 80px;
  width: 100%;
  .menu{
    margin-left: 40px;
    line-height: 80px;
    a{
      margin-inline: 1vw;
      height: 80px;
      color: @lightblue;
      font-size: 24px;
    }
  }
  .icons{
    position: absolute;
    right: 6vw;
    top: 20px;
    img{
      justify-content: center;
      margin-left: 40px;
    }
    .nav-button{
      display: none;
    }
  }
}
@media (max-width: 1450px) {
  header {
    .menu {
      a {
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 1280px) {
  header {
    .menu {
    display: none;
    }
    .icons {
      .nav-button {
        position: relative;
        top: 3px;
        display: inline-block;
      }
    }
  }
}
@media (max-width: 768px){
  header{
    .icon .logo{
      margin: 0;
    }
    .menu{
      display: none;
    }
  }
}
@media (max-width: 700px) {
  header {
    height: 60px;
    .icon {
      .logo {
        display: none;
      }
      .logo-mob {
        margin-left: 6vw;
        display: inline-block;
      }
    }
    .icons{
      position: absolute;
      right: 6vw;
      top: 15px;
      img{
        justify-content: center;
        margin-left: 27px;
        height: 30px;
        width: 30px;
      }
      .nav-button {

        position: relative;
        top: 3px;
        display: inline-block;
      }
    }
  }
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: @darkblue;
  padding: 0 6% 20px 6%;
  .footer-nav{
    color: @lightblue;
    a{
      display: block;
      text-decoration: none;
      color: @lightblue;
      line-height: 28px;
      margin: 4px 0;
      h3{
        font-weight: normal;
        margin-bottom: 6px;
      }
      img{
        margin-bottom: -2px;
      }
    }
  }
}
@media (max-width: 1280px) {
  .footer-nav.hidden-1{
    display: none;
  }
}
@media (max-width: 700px) {
  .footer-nav.hidden-2{
    display: none;
  }
}
@media (max-width: 450px) {
  footer{
    flex-direction: column;
  }
}