@darkblue: #283044;
@blue: #78A1BB;
@lightblue: #EBF5EE;
@font1: 'Open Sans', sans-serif;
@font-for-price: 'Fira Sans', sans-serif;
body {
  margin: 0px;
  background: @lightblue;

  header {
    display: flex;

    .icon {
      .logo {
        margin-left: 6vw;
        width: 350px;
        height: 80px;
      }

      .logo-mob {
        display: none;
      }
    }

    background: @darkblue;
    height: 80px;
    width: 100%;

    .menu {
      margin-left: 40px;
      line-height: 80px;

      a {
        margin-inline: 1vw;
        height: 80px;
        font-family: @font1;
        color: @lightblue;
        font-size: 24px;
      }
    }

    .icons {
      position: absolute;
      right: 6vw;
      top: 20px;

      img {
        justify-content: center;
        margin-left: 40px;
      }

      .nav-button {
        display: none;
      }
    }
  }
  .block1{
    img{
      height: 970px;
      width: 100%;
    }
    .rectangle{
      background: rgba(235, 245, 238, 0.5);
      position: absolute;
      width: 54%;
      height: 239px;
      right: 0px;
      top: 550px;

      font-family: @font1;
      font-size: 40px;
      color: @darkblue;
      .title1{
        position: relative;
        left: 52px;
        top: 52px;
      }
      .title2{
        display: block;
        position: relative;
        top: 70px;
      }
    }
  }
}
@media (max-width: 1450px) {
  header {
    .menu {
      a {
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 1280px) {
  header {
    .menu {
    display: none;
    }
    .icons {
      .nav-button {
        position: relative;
        top: 3px;
        display: inline-block;
      }
    }
  }
}
@media (max-width: 768px){
  header{
    .icon .logo{
      margin: 0;
    }
    .menu{
      display: none;
    }
  }
}
@media (max-width: 700px) {
  header {
    height: 60px;
    .icon {
      .logo {
        display: none;
      }
      .logo-mob {
        margin-left: 6vw;
        display: inline-block;
      }
    }
    .icons{
      position: absolute;
      right: 6vw;
      top: 15px;
      img{
        justify-content: center;
        margin-left: 27px;
        height: 30px;
        width: 30px;
      }
      .nav-button {
        position: relative;
        top: 3px;
        display: inline-block;
      }
    }
  }
}